<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.UserinfoDao">
    <delete id="delete ">
        delete  from userinfo where id = 4
    </delete>

    <select id="getAll" resultType="com.entity.UserinfoEntity">
        select id,system_user from userinfo order by  id
    </select>
</mapper>